<div class="row" id="addNewBtn">
    <div class="col-md-9 mb-2">
        <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search products ...">
    </div>
    <div class="col-md-3">
        <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
    </div>
</div>

<table id="data-table" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{ p.title }}</td>
            <td>{{ p.price | currency:'USD' }}</td>
            <td>
                <a [routerLink]="['/admin/products/', p.$key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>



