<div class="cart-container" *ngIf="cart$ | async as cart">
    <h1>Shopping Cart</h1>
    <p class="text-secondary text-right"> You have {{ cart.totalItemsCount }} items in your shopping cart.</p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center quantity-col">Quantity</th>
                <th class="text-right price-col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>
                    <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
                </td>
                <td>{{ item.title }}</td>
                <td><app-product-quantity [product]="item" [shopping-cart]="cart"></app-product-quantity></td>
                <td class="text-right">{{ item.totalPrice | currency:'USD'}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th class="text-right">Total</th>
                <th class="text-right">{{ cart.totalPrice | currency:'USD' }}</th>
            </tr>
        </tfoot>
    </table>
    <button (click)="clearCart()" class="cancel-button btn btn-danger btn-sm">Clear</button>
</div>